:root {
    --primary-color : #F8F8FF;
    --color-secondary: #007FFF;
    --color-butons: #003262;
    --color-buttons-hover: #4c9ce6;
    

}



.products-info-template-container{
    margin-top: 6rem;
    padding: 1rem;
    background-image: url('../../assets/images/header-image-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
}


