:root {
    --primary-color : #F8F8FF;
    --color-secondary: #007FFF;
    --color-butons: #003262;
    --color-buttons-hover: #4c9ce6;

}

.card{
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .7);
}

.btn{
    background-color: var(--color-butons) ;
    transition: background-color ease-in-out .5s;
}
.btn:hover{
    background-color: var(--color-buttons-hover);
    transition: .5s;
}