.title-categories{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-content: space-between;
    gap: .5rem;
}

.categories-container div{
    box-shadow: 18px 18px 0px rgba(0, 0, 0, .9);
    padding: .7rem;
    text-align: center;
    transition: all ease-in-out .5s;
}
.categories-container div img{
    width: 120px;
}

.categories-container div:hover {
    box-shadow: 18px 18px 0px rgba(13, 116, 190, 0.9);
    transition: ease-in-out .5s;
    cursor: pointer;
    color: rgba(13, 116, 190, 0.9) ;
}

.categories-container p{
    font-weight: bolder;
    font-size: larger;

}