:root {
    --primary-color : #F8F8FF;
    --color-secondary: #007FFF;
    --color-butons: #003262;
    --color-buttons-hover: #4c9ce6;

}

.phather{
    margin-top: 100px;
    min-height: 100vh;
    padding: 1rem;
}

.productos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(275px, 1fr));
    justify-content: center;
    margin-top: 1rem;
    color: black;
    padding: 1rem;
    gap: 1rem;
  /*   border: solid cyan 2px; */
    
}
.productos-container img{
    width: 150px;
    margin:  0 auto;
}




@media screen and (max-width:300px) {
    .productos-container{
        /* background-color:aliceblue; */
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        justify-content: center;
        margin-top: 1rem;
        color: black;
        padding: 1rem;
        gap: 2rem;
    }    
} 