.navbar{
    padding: 1.2rem;
  /*   background-color: rgb(27, 97, 209); */
   /*  color: aliceblue; */
   overflow: hidden;
   width: 100%;
}

.navbar-nav{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}