:root {
    --primary-color : #F8F8FF;
    --color-secondary: #007FFF;
    --color-butons: #003262;
    --color-buttons-hover: #4c9ce6;

}

#root{
    background-color: var(--primary-color);
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif
}



